<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
      
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <runtime>
    
  </runtime>
  <connectionStrings>
    <add name="SmsEntites" connectionString="Data Source=DESKTOP-5SBIGOE\SQLEXPRESS;Initial Catalog=SmsDevDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
